src/
test/
.nyc_output/
.vscode/
coverage/
declarations/
.gitignore
.gitlab-ci.yml
.nycrc
.travis.yml
webpack.config.js
tsconfig*.json
tslint.json
qhun-transpiler.js
luadist/
webpack*

dist/**/*.ts
dist/**/*.js
dist/**/*.js.map
!dist/api.d.ts
!dist/api.js
!dist/bin/qhun-transpiler.js